input:hover {
  border-color: tint(@input-hover-border-color, 20%);
}
input:focus {
  border-color: tint(@input-hover-border-color, 20%);
  outline: 0;
  box-shadow: 0 0 0 2px fade(@input-hover-border-color, 20%);
}
