@select-prefix-cls: ~"@{css-prefix}select";

.@{select-prefix-cls} {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  &_list {
    width: 100%;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
    background-color: #fff;
    z-index: 9999;
  }

  &_item {
    padding: 7px 10px;
    line-height: 20px;
    &:hover {
      background-color: #f3f3f3;
      cursor: pointer;
    }
    &.on {
      background-color: #20a0ff;
      color:#fff;
    }
    &.focus {
      background-color: @background-color-select-hover;
    }
  }

  &_input {
    width: 100%;
    padding: 3px 10px;
    padding-right: 35px;
    border: 1px solid #dddee1;
    line-height: 1;
    height: 32px;
    border-radius: 4px;
    width: 100%;
    &:read-only {
      cursor: default;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #eef1f6;
    }
  }

  .@{css-prefix-iconfont} {
    .inner-arrow();
    z-index: 1;
    cursor: pointer;
    &:hover {
      color: @link-active-color;
    }
  }
}
